<h1>
    {{ heroe.nombre | uppercase }}
    <small>({{ heroe.aparicion | date: "y" }})</small>
</h1>
<div class="container">
    <div class="row animated fadeIn">
        <div class="col-md-4">
            <img class="img-fluid" [src]="heroe.img" [alt]="heroe.nombre" />
            <br /><br />
            <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a
      >
    </div>
    <div class="col-md-8">
      <h3>{{ heroe.nombre }}</h3>
      <hr />
      <p>{{ heroe.bio }}</p>
      <div>
        <img
          *ngIf="heroe.casa === 'DC'"
          src="assets/img/dc-logo.jpg"
          alt="dc-logo"
          class="img-fluid img-logo"
        />
        <img
          *ngIf="heroe.casa === 'Marvel'"
          src="assets/img/marvel-logo.png"
          alt="marvel-logo"
          class="img-fluid img-logo"
        />
      </div>
    </div>
  </div>
</div>